# Week 1
# Python Tutorial

Good source for learning Python: [Link](https://www.py4e.com)

## Example Programs

In [1]:
print('Hello world')

Hello world

In [2]:
# Print a sentence: The area is: ***
# The area represents the area of a square with length 1.5

print("The area is:", 1.5 * 1.5)
# print(2 / 2)

The area is: 2.25

In [3]:
# Calculate the Body Mass Index (BMI) of a person whose height is 1.73 (m) and weight is 70.5 (kg).
# BMI = weight / height ** 2
height = 1.73 # assign 1.73 to variable named height
weight = 70.5 # assign 70.5 to variable named weight
BMI = weight / height ** 2 # -> the square of height
print("BMI:", BMI)

BMI: 23.55574860503191

### Variables

In [4]:
type(height)

float

In [5]:
a = 10
print(type(a))

<class 'int'>

In [6]:
# Variable types:
# float
# int
# str
# boolean
str1 = "Monday"
print("Type of str1:", type(str1))
boolean1 = True # or False: the word should be capitalized 
print("Type of boolean1:", type(boolean1))

Type of str1: <class 'str'>
Type of boolean1: <class 'bool'>

In [7]:
# Type casting
print(str(a))
print(float(a))

10
10.0

In [8]:
# Arithmetics:
a = a + 1
a = a - 5
a = a * 123
a = a / 24

In [9]:
# division between two integers in Python may give a floating-point result
b = 13
ans = b / 3
print(ans)

4.333333333333333

In [10]:
# floor division (integer division)
ans = b // 3
print(ans)

4

In [11]:
# Modulo operator
remainder = b % 3
print(remainder)

1

In [13]:
# Exponentiation operator
power = 5 ** 3 # 3rd power of 5
print(power)

squared_root = 5 ** 0.5
print(squared_root)

125
2.23606797749979

In [15]:
# scientific notation
# assign 1 billion to variable x
# x = 1000000000
x = 1e9 # 1e9 represents 1.0 * (10 ** 9)
print(x)
y = 1.2e-14 # represents 1.2 * (10 ** -14) = 0.00000000000012
print(y)

1000000000.0
1.2e-14

In [16]:
5 - (5 ** 0.5) ** 2
# -8.881784197001252e-16 
# = -8.8817.. * 10 ** (-16)
# = -8.8817.. * 0.0000000000000001
# = -0.0000000000000008817...
# It is a small error due to rounding

-8.881784197001252e-16

In [19]:
# Mathematics operations
import numpy as np # import package numpy, and give it a shorter name

In [20]:
# the square root
print(np.sqrt(2))

1.4142135623730951

In [21]:
# trigonometric functions
print(np.sin(0)) # cos, tan, arcsin, ....
print(np.cos(0))

0.0
1.0

In [22]:
# log
print(np.log(10)) # by default the log function use natural number e=2.718... as the base
print(np.log2(8)) # base 2
print(np.log10(1000)) # base 10

2.302585092994046
3.0
3.0

In [23]:
# pi
print(np.pi)

3.141592653589793

In [24]:
# Another mathematical library is math
import math
print(math.log(1000, 10))

2.9999999999999996

**Exercise**: given variables a, b, and c, implement the quadratic formula for ax^2 + bx + c = 0.

Formula:
<img src="https://www.gstatic.com/education/formulas/images_long_sheet/en/quadratic_formula.svg">

In [28]:
a = 1
b = 2
c = -3

x1 = (-b + np.sqrt(b ** 2 - 4 * a * c)) / (2 * a) 
x2 = (-b - np.sqrt(b ** 2 - 4 * a * c)) / (2 * a)

print("Solutions:", x1, x2)

print("Verify the solutions:")
print(a * x1 ** 2 + b * x1 + c)
print(a * x2 ** 2 + b * x2 + c)

Solutions: 1.0 -3.0
Verify the solutions:
0.0
0.0

### If-Else Branches

In [32]:
# Comparisons: >, <, >=, <=, ==, !=
# Logical operators: and, or, not

age = 23
drinking_age = 21
if age >= drinking_age:
    print("You are old enough to buy liquor.")
else:
    print("You are not old enough to buy liquor.")  # with indentation: statement belongs to else branch
print("End.") # without indentation, statment is separate from the previous if-else statement.

You are old enough to buy liquor.
End.

In [33]:
# Use if-elif-else to achieve three or more branches
weekday = "Monday"
is_holiday = False
if weekday == "Saturday" or weekday == "Sunday":
    print("Not a working day")
elif is_holiday:
    print("Not a working day")
else:
    print("Let's go to work")

Let's go to work

In [35]:
# Ex. Check if a given number is even or odd
num = input("Please enter a number:")
num = int(num) # convert the input string to a number

if num % 2 == 0:
    print("This is an even number.")
else:
    print("This is an odd number.")

Please enter a number:1234
This is an even number.

## Exercise 2

Given a number between 0 and 100, convert it to a letter grade:
- 90 - 100: A
- 80 - 89: B
- 70 - 79: C
- 60 - 69: D
- Below 60: F

In [3]:
number_grade = input("What is the number grade?")
number_grade = int(number_grade)

# Use if-else statements to determine the letter grade.
if number_grade >= 90:
    letter_grade = 'A'
elif number_grade >= 80:
    letter_grade = 'B'
elif number_grade >= 70:
    letter_grade = 'C'
elif number_grade >= 60:
    letter_grade = 'D'
else:
    letter_grade = 'F'


print("Letter grade:", letter_grade)

What is the number grade?85
Letter grade: B

Lists

A Python list is the most common way to store a group of values. It is quite similar to arrays in Java or C, but has the following differences:
- It can contain different types of values
- It's length will vary when values are added or removed to the list

In [41]:
# A list
a = 5
vals = ["Monday", 25, False, 3.14, a, [1, 2, 3, 4]]
print(vals[2])
print(vals[5][1]) # The second index is used to identify a value in the inner list.

False
2

### For Loops

In [7]:
# loops:
# in java: for (i=0; condition; update i)
# in python: for var in an iterable object (such as a list):
for letter in ['A', 'B', 'C', 'D', 'E', 'F']:
    print(letter) # all statements in the for loop should be indented
print(letter) # THis line will only be executed when the loop ends

A
B
C
D
E
F
F

In [13]:
# The range() function can produce a sequence of integers
for i in range(5, 12): # it contains integers from 0 (inclusive) to 10 (exclusive)
    print(i)

5
6
7
8
9
10
11

In [47]:
# use multiple loop index in a for loop
for i, j in zip(range(10), range(10,20)):
    print("i:", i, end=", ")
    print("j:", j)

i: 0, j: 10
i: 1, j: 11
i: 2, j: 12
i: 3, j: 13
i: 4, j: 14
i: 5, j: 15
i: 6, j: 16
i: 7, j: 17
i: 8, j: 18
i: 9, j: 19

In [48]:
# Nested loops
for x in range (10):
    for y in range(x):
        print(str(x) + " x " + str(y) + " = " + str(x*y))

1 x 0 = 0
2 x 0 = 0
2 x 1 = 2
3 x 0 = 0
3 x 1 = 3
3 x 2 = 6
4 x 0 = 0
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
6 x 0 = 0
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
7 x 0 = 0
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
8 x 0 = 0
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
9 x 0 = 0
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72

## Exercise 3

In [ ]:
# Print a pyramid using ^
#     ^
#    ^^^
#   ^^^^^
#  ^^^^^^^
# ^^^^^^^^^

In [25]:
num_lines = 7

for length, spaces in zip(range(1, num_lines * 2, 2),
                          range(num_lines - 1, -1, -1)):
    print(' ' * spaces, '^' * length) # a string times a number will
                                      # print multiple copies of the string
#     for i in range(spaces):
#         print(' ', end='')

#     for i in range(length):
#         print('^', end='')
#     print()

       ^
      ^^^
     ^^^^^
    ^^^^^^^
   ^^^^^^^^^
  ^^^^^^^^^^^
 ^^^^^^^^^^^^^

In [27]:
# while condition??:
#     do something
limit = 10000
# Print all powers of 2 below the limit
num = 1
while num < limit:
    print(num)
    num = num * 2 # OR num *= 2

1
2
4
8
16
32
64
128
256
512
1024
2048
4096
8192

## Data Structures for Multiple Values

## Lists (Similar to Java arrays)

In [28]:
values = [1, 3, 5, 7, 9]

In [29]:
# Print the list
print(values)
# Extract a value from the list
print(values[0])  # gives 1
print(values[1])  # gives 3
print(values[4])

[1, 3, 5, 7, 9]
1
3
9

In [35]:
# Lists supports negative index
print(values[-1])  # gives the last value in the list
print(values[-2])  # gives the second-to-last value

9
7

In [36]:
values[10] # gives an IndexError

IndexError: list index out of range

In [37]:
# List slicing
print(values[0:3])  # Extracts the first 3 values
print(values[:3])   # has the same effect

[1, 3, 5]
[1, 3, 5]

In [42]:
# Since list is an object, the same list can be assigned to multiple variables.
numbers = [1, 2, 3, 4, 5]
numbers_again = numbers
numbers[0] = 100
print(numbers)
print(numbers_again)

[100, 2, 3, 4, 5]
[100, 2, 3, 4, 5]

In [43]:
# A slice of list creates a new copy of the values
names = ['Alice', 'Bob', 'Charle', 'David', 'Edward']
sub_names = names[1:4]

names[1] = 'Brian'
print(names)
print(sub_names)

['Alice', 'Brian', 'Charle', 'David', 'Edward']
['Bob', 'Charle', 'David']

In [44]:
print(values[1:4])  # Extracts the middle 3 values
print(values[1:-1])

[3, 5, 7]
[3, 5, 7]

In [45]:
print(values[1:5])  # Extracts all values starting from the second value
print(values[1:])

[3, 5, 7, 9]
[3, 5, 7, 9]

In [46]:
# A list can contain values of different types
list1 = [123, 0.357, "Wednesday", True, False, [1, 2, 3]]

In [47]:
print(list1[2])

Wednesday

In [48]:
print(list1[-1][1])

2

In [49]:
# Useful methods
# length of a list
print(len(list1))
# append a value to a list
list1.append(4)
print(list1)
# extract and remove the last value of a list
val = list1.pop()
print(val)
# print(list1)
# find the index of a value
ind = list1.index("Wednesday")
print(ind)

6
[123, 0.357, 'Wednesday', True, False, [1, 2, 3], 4]
4
2

In [50]:
# Looping through a list
names = ["Alice", "Bob", "Clare"]
for name in names:
    print(name)

Alice
Bob
Clare

In [51]:
# Looping with index
for idx, name in enumerate(names):
    print(str(idx) + "  " + name)

0  Alice
1  Bob
2  Clare

In [54]:
# list comprehension: transform a list without a for loop
scores = [60, 70, 90, 85]
# add 5 to each score
new_scores = []
for score in scores:
    new_score = score + 5
    new_scores.append(new_score)
print(new_scores)

# You may remove the old list to save memory
del scores
print(scores)

[65, 75, 95, 90]

NameError: name 'scores' is not defined

In [55]:
# Alternatively, use list comprehension can do this in one statement
scores = [60, 70, 90, 85]
new_scores = [ score+5 for score in scores ] # [ expression + where the values come from ]
print(new_scores)

[65, 75, 95, 90]

In [56]:
# Another example: double the values in the scores list
new_scores = [score * 2 for score in scores]
print(new_scores)

[120, 140, 180, 170]

In [57]:
# What if I want to increase everyone's score by 10%?
curved_scores = [ score * 1.1 for score in scores]
print(curved_scores)

[66.0, 77.0, 99.00000000000001, 93.50000000000001]

# Exercise

Given a list of strings, apply the `strip` method to remove unwanted spaces.

In [59]:
string = "      Monday       "
string.strip()

'Monday'

In [58]:
names = "Alex, Bob, Clare, David, Edward"
names = names.split(',')
print(names)

['Alex', ' Bob', ' Clare', ' David', ' Edward']

In [64]:
# Apply strip() to all names

# Using a for loop
clean_names = []
for name in names:
    # Do somthing to name
    new_name = name.strip()
    # Append the processed name to clean_names
    clean_names.append(new_name)
print(clean_names)
    
# Using list comprehension
clean_names2 = [ name.strip() for name in names]
print(clean_names2)

['Alex', 'Bob', 'Clare', 'David', 'Edward']
['Alex', 'Bob', 'Clare', 'David', 'Edward']

## Sets

In [65]:
set1 = {1, 2, 3, 4}
print(set1)

{1, 2, 3, 4}

In [67]:
# A set cannot contain repeated values
set2 = {2, 2, 3, 3, 3, 5, 5, 5, 5}
print(set2)

{2, 3, 5}

In [69]:
# We can perform union or intersection operation between sets
print(set1.union(set2))
print(set1.intersection(set2))

{1, 2, 3, 4, 5}
{2, 3}

In [70]:
# convert between lists and sets
list2 = [1, 2, 3, 4]
set2 = set(list2)
print(set2)

{1, 2, 3, 4}

In [71]:
list3 = [1, 2, 2, 3, 3, 4, 4, 5]
set3 = set(list3)
print(set3)

list3_updated = list(set3)
print(list3_updated)

{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]

# Tuples

In [72]:
# Tuples are immutable
tuple1 = (1, 2, 3)
list1 = [1, 2, 3]

list1[0] = 100
print(list1)

[100, 2, 3]

In [73]:
print(tuple1[0])
tuple1[0] = 100 # Tuples cannot be modified

1

TypeError: 'tuple' object does not support item assignment

## Dictionary (similar to Java Map)

In [74]:
scores = {
    "Alice": 85,
    "Bob": 87,
    "Clare": 88
}

In [75]:
# Extract values from dictionary
print(scores["Alice"])

85

In [77]:
# Check if an item is in the dictionary
print("David" in scores)
print(scores['David'])

False

KeyError: 'David'

## Python Functions

In [80]:
def get_sum(list1):
    """
    Returns the sum of list1.
    """
    sum = 0
    for val in list1:
        sum += val
    return sum

In [85]:
# This command shows the source code of the function
??get_sum

In [88]:
# Since we do not specify parameter types, a function can have multiple purposes
def x_plus_y(x, y):
    return x + y

print(x_plus_y(10, 20))
print(x_plus_y(1.234, 5.678))
print(x_plus_y("ABC", "DEF"))

30
6.912
ABCDEF

In [ ]:
list2 = [1, 2, 3, 4]
print(get_sum(list2))

In [89]:
# A Python function can return more than one item
def get_sum_and_average(values):
    """
    Returns the sum and the average of a list.
    """
    sum_val = get_sum(values)
    avg = sum_val / len(values)
    return sum_val, avg

In [90]:
list_sum, list_avg = get_sum_and_average(list2)
print(list_sum, list_avg)

10 2.5

In [91]:
# Use _ as a placeholder if you only need the second returned value.
_, avg = get_sum_and_average(list2)
print(avg)

2.5

In [93]:
# A function parameter can have a default value.
def add(x, y=30, z=50):
    
    return x + y + z

In [94]:
print(add(100, 200))
print(add(100))
# What if I want y to take its default value and z to take a new value?
# Example: 100 + 30 + 500
print(add(100, z=500))

350
180
630

## Classes

In [96]:
class Person():
    
    def __init__(self, name, age): # This is the name of class constructor. There are two underscores before
                                    # and after the word "init"
        self.name = name
        self.age = age
        
    def print_info(self):
        print(self.name + " | " + str(self.age))

In [97]:
me = Person("Liang", 34)

In [98]:
me.print_info()

Liang | 34

## String Manipulation

In [ ]:
sentence = "Winter is coming."
sentence2 = "Help! " * 3
sentence3 = sentence + " " + sentence2
# print(sentence2)
# print(sentence3)

In [ ]:
# Use [ ] to access characters in a string
sentence[10]

In [ ]:
# length
len(sentence)

In [ ]:
# Count the occurance of a substring
print(sentence.count("i"))

In [ ]:
# Find the index of a substring
print(sentence.find("i"))
# print(sentence.find("i", 5))
# print(sentence.find("u"))

# print(sentence.index("i"))
# print(sentence.index("i", 5))
# print(sentence.index("u"))

In [ ]:
# slicing
sentence[:6]

In [ ]:
# Change to upper or lower case
sentence.upper()

In [ ]:
# splitting
words = sentence.split(" ")
print(words)

In [ ]:
# Remove unwanted characters at the start and the end.
word = "      Alex    "
word.strip()

In [ ]:
[word.strip(".") for word in words]

In [ ]:
# Joining
" ".join(words)

In [ ]:
# formatted strings
answer = 1 / 3
print("Answer is:", answer)
print("Answer is: %.2f" % answer)