# Week 1
# Python Tutorial

Good source for learning Python: [Link](https://www.py4e.com)

## Example Programs

In [ ]:
print('Hello World')

In [ ]:
# Print a sentence: The area is: ***
# The area represents the area of a square with length 1.5

print("The area is:", 1.5 * 1.5)
# print(2 / 2)

In [ ]:
# Calculate the Body Mass Index (BMI) of a person whose height is 1.73 (m) and weight is 70.5 (kg).
# BMI = weight / height ** 2
height = 1.73 # assign 1.73 to variable named height
weight = 70.5 # assign 70.5 to variable named weight
BMI = weight / height ** 2 # -> the square of height
print("BMI:", BMI)

### Variables

In [ ]:
type(height)

In [ ]:
a = 10
print(type(a))

In [ ]:
# Variable types:
# float
# int
# str
# boolean
str1 = "Monday"
print("Type of str1:", type(str1))
boolean1 = True # or False: the word should be capitalized 
print("Type of boolean1:", type(boolean1))

In [ ]:
# Type casting
print(str(a))
print(float(a))

In [ ]:
# Arithmetics:
a = a + 1
a = a - 5
a = a * 123
a = a / 24

In [ ]:
# integer division in Python may give a floating-point result
b = 13
ans = b / 3
print(ans)

In [ ]:
# floor division 
ans = b // 3
print(ans)

In [ ]:
# Modulo operator
remainder = b % 3
print(remainder)

In [ ]:
# Ex. Check if a given number is even or odd
num = input("Please enter a number:")

In [ ]:
# Exponentiation operator
power = 5 ** 3 # 3rd power of 5
print(power)

squared_root = 5 ** 0.5
print(squared_root)

In [ ]:
# scientific notation
# assign 1 billion to variable x
# x = 1000000000
x = 1e9 # 1e9 represents 1.0 * (10 ** 9)
print(x)
y = 1.2e-14 # represents 1.2 * (10 ** -14) = 0.00000000000012
print(y)

In [ ]:
5 - (5 ** 0.5) ** 2
# -8.881784197001252e-16 
# = -8.8817.. * 10 ** (-16)
# = -8.8817.. * 0.0000000000000001
# = -0.0000000000000008817...
# It is a small error due to rounding

In [ ]:
# Mathematics operations
import numpy as np # import package numpy, and give it a shorter name

In [ ]:
# the square root
print(np.sqrt(2))

In [ ]:
# trigonometric functions
print(np.sin(0)) # cos, tan, arcsin, ....
print(np.cos(0))

In [ ]:
# log
print(np.log(10)) # by default the log function use natural number e=2.718... as the base
print(np.log2(8)) # base 2
print(np.log10(1000)) # base 10

In [ ]:
# pi
print(np.pi)

In [ ]:
# Another mathematical library is math
import math
print(math.log(1000, 10))

**Exercise**: given variables a, b, and c, implement the quadratic formula for ax^2 + bx + c = 0.

Formula:
<img src="https://www.gstatic.com/education/formulas/images_long_sheet/en/quadratic_formula.svg">

### If-Else Branches

In [ ]:
# Comparisons: >, <, >=, <=, ==, !=
# Logical operators: and, or, not

age = 23
drinking_age = 21
if age >= drinking_age:
    print("You are old enough to buy liquor.")
else:
    print("You are not old enough to buy liquor.")  # with indentation: statement belongs to else branch
print("End.") # without indentation, statment is separate from the previous if-else statement.

In [ ]:
# Use if-elif-else to achieve three or more branches
weekday = "Monday"
is_holiday = False
if weekday == "Saturday" or weekday == "Sunday":
    print("Not a working day")
elif is_holiday:
    print("Not a working day")
else:
    print("Let's go to work")

## Exercise 2

Given a number between 0 and 100, convert it to a letter grade:
- 90 - 100: A
- 80 - 89: B
- 70 - 79: C
- 60 - 69: D
- Below 60: F

Lists

A Python list is the most common way to store a group of values. It is quite similar to arrays in Java or C, but has the following differences:
- It can contain different types of values
- It's length will vary when values are added or removed to the list

In [ ]:
# A list
a = 5
vals = ["Monday", 25, False, 3.14, a, [1, 2, 3, 4]]
print(vals[0])

### For Loops

In [ ]:
# loops:
# in java: for (i=0; condition; update i)
# in python: for var in an iterable object (such as a list):
for letter in ['B', 'A', 'C', 'D', 'E']:
    print(letter) # all statements in the for loop should be indented
print(letter) # THis line will only be executed when the loop ends

In [ ]:
# The range() function can produce a sequence of integers
for i in range(5, 12): # it contains integers from 0 (inclusive) to 10 (exclusive)
    print(i)

In [ ]:
# use multiple loop index in a for loop
for i, j in zip(range(10), range(10,20)):
    print("i:", i, end=", ")
    print("j:", j)

In [ ]:
# Nested loops
for x in range (10):
    for y in range(x):
        print(str(x) + " x " + str(y) + " = " + str(x*y))

## Exercise 3

In [ ]:
# Print a pyramid using ^
#     ^
#    ^^^
#   ^^^^^
#  ^^^^^^^
# ^^^^^^^^^

## Data Structures for Multiple Values

## Lists (Similar to Java arrays)

In [ ]:
values = [1, 3, 5, 7, 9]

In [ ]:
# Print the list
print(values)
# Extract a value from the list
print(values[0])  # gives 1
print(values[1])  # gives 3
print(values[4])

In [ ]:
# Lists supports negative index
print(values[-1])  # gives the last value in the list
print(values[-2])  # gives the second-to-last value

In [ ]:
values[10] # gives an IndexError

In [ ]:
# List slicing
print(values[0:3])  # Extracts the first 3 values
print(values[:3])   # has the same effect

In [ ]:
# A slice of list creates a new copy of the values
names = ['Alice', 'Bob', 'Charle', 'David', 'Edward']
sub_names = names[1:4]

names[1] = 'Brian'
print(names)
print(sub_names)

In [ ]:
print(values[1:4])  # Extracts the middle 3 values
print(values[1:-1])

In [ ]:
print(values[1:5])  # Extracts all values starting from the second value
print(values[1:])

In [ ]:
# A list can contain values of different types
list1 = [123, 0.357, "Wednesday", True, False, [1, 2, 3]]

In [ ]:
print(list1[2])

In [ ]:
print(list1[-1][1])

In [ ]:
# Useful methods
# length of a list
print(len(list1))
# append a value to a list
list1.append(4)
print(list1)
# extract and remove the last value of a list
val = list1.pop()
print(val)
# print(list1)
# find the index of a value
ind = list1.index("Wednesday")
print(ind)

In [ ]:
# Looping through a list
names = ["Alice", "Bob", "Clare"]
for name in names:
    print(name)

In [ ]:
# Looping with index
for idx, name in enumerate(names):
    print(str(idx) + "  " + name)

In [ ]:
# list comprehension: transform a list without a for loop
scores = [60, 70, 90, 85]
# add 5 to each score
new_scores = []
for score in scores:
    new_score = score + 5
    new_scores.append(new_score)
print(new_scores)

In [ ]:
# Alternatively, use list comprehension can do this in one statement
new_scores = [ val+5 for val in scores ] # [ expression + where the values come from ]
print(new_scores)

In [ ]:
# What if I want to increase everyone's score by 10%?
curved_scores = [ score * 1.1 for score in scores]
print(curved_scores)

# Exercise
Give a list `ary = [1, 3, 5, 7, 11]`, create a new list `ary2` whose values are twice the values in ary.

In [ ]:
ary = [1, 3, 5, 7, 11]
ary2 = [ val * 2 for val in ary]
print(ary2)

## Sets

In [ ]:
set1 = {1, 2, 3, 4}
print(set1)

In [ ]:
# A set cannot contain repeated values
set2 = {1, 2, 2, 3, 3, 3}
print(set2)

In [ ]:
# convert between lists and sets
list2 = [1, 2, 3, 4]
set2 = set(list2)
print(set2)

In [ ]:
list3 = [1, 2, 2, 3, 3, 4, 4, 5]
set3 = set(list3)
print(set3)

list3_updated = list(set3)
print(list3_updated)

# Tuples

In [ ]:
# Tuples are immutable
tuple1 = (1, 2, 3)
list1 = [1, 2, 3]

list1[0] = 100
print(list1)

In [ ]:
print(tuple1[0])
tuple1[0] = 100 # Tuples cannot be modified

## Dictionary (similar to Java Map)

In [ ]:
scores = {
    "Alice": 85,
    "Bob": 87,
    "Clare": 88
}

In [ ]:
# Extract values from dictionary
print(scores["Alice"])

In [ ]:
# Check if an item is in the dictionary
print("David" in scores)

## Python Functions

In [ ]:
def get_sum(list1):
    """
    Returns the sum of list1.
    """
    sum = 0
    for val in list1:
        sum += val
    return sum

In [ ]:
??get_sum # This shows the source code of the function

In [ ]:
list2 = [1, 2, 3, 4]
print(get_sum(list2))

In [ ]:
# A Python function can return more than one item
def get_sum_and_average(values):
    """
    Returns the sum and the average of a list.
    """
    sum_val = get_sum(values)
    avg = sum_val / len(values)
    return sum_val, avg

In [ ]:
list_sum, list_avg = get_sum_and_average(list2)
print(list_sum, list_avg)

In [ ]:
# Use _ as a placeholder if you only need the second returned value.
_, avg = get_sum_and_average(list2)
print(avg)

In [ ]:
# A function parameter can have a default value.
def add(x, y=30, z=50):
    
    return x + y + z

In [ ]:
print(add(100, 200))
print(add(100))
# What if I want y to take its default value and z to take a new value?
# Example: 100 + 30 + 500
print(add(100, z=500))

## Classes

In [ ]:
class Person():
    
    def __init__(self, name, age): # This is the name of class constructor. There are two underscores before
                                    # and after the word "init"
        self.name = name
        self.age = age
        
    def print_info(self):
        print(self.name + " | " + str(self.age))

In [ ]:
me = Person("Liang", 34)

In [ ]:
me.print_info()

## String Manipulation

In [ ]:
sentence = "Winter is coming."
sentence2 = "Help! " * 3
sentence3 = sentence + " " + sentence2
# print(sentence2)
# print(sentence3)

In [ ]:
# Use [ ] to access characters in a string
sentence[10]

In [ ]:
# length
len(sentence)

In [ ]:
# Count the occurance of a substring
print(sentence.count("i"))

In [ ]:
# Find the index of a substring
print(sentence.find("i"))
# print(sentence.find("i", 5))
# print(sentence.find("u"))

# print(sentence.index("i"))
# print(sentence.index("i", 5))
# print(sentence.index("u"))

In [ ]:
# slicing
sentence[:6]

In [ ]:
# Change to upper or lower case
sentence.upper()

In [ ]:
# splitting
words = sentence.split(" ")
print(words)

In [ ]:
# Remove unwanted characters at the start and the end.
word = "      Alex    "
word.strip()

In [ ]:
[word.strip(".") for word in words]

In [ ]:
# Joining
" ".join(words)

In [ ]:
# formatted strings
answer = 1 / 3
print("Answer is:", answer)
print("Answer is: %.2f" % answer)